<menu>

    <menuitem label='Participante'>
        <icon>fas:user fa-fw</icon>
        <menu>
            <menuitem label='Eventos Abertos'>
                <icon>fas:calendar-alt fa-fw</icon>
                <action>EventosAbertosList</action>
            </menuitem>
            <menuitem>
                <icon>fas:certificate fa-fw</icon>
                <action>TipoParticipacaoModalView</action>
            </menuitem>
            <menuitem label='Minhas Inscrições'>
                <icon>fas:clipboard-list fa-fw</icon>
                <action>MinhasInscricoesList</action>
            </menuitem>
            <menuitem>
                <icon>fas:certificate fa-fw</icon>
                <action>EmitirCertificado</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Coordenador'>
        <icon>fas:user-tie fa-fw</icon>
        <menu>
            <menuitem label='Emissão Manual de Certificados'>
                <icon>fas:award fa-fw</icon>
                <action>EmissaoManualList</action>
            </menuitem>
            <menuitem>
                <action>EmissaoManualForm</action>
            </menuitem>
            <menuitem label='Solicitações'>
                <icon>fas:clipboard-list fa-fw</icon>
                <menu>
                    <menuitem label='Eventos'>
                        <icon>fas:calendar-alt fa-fw</icon>
                        <action>SolicitacaoListCoordenador</action>
                    </menuitem>
                    <menuitem label='TCCs'>
                        <icon>fas:graduation-cap fa-fw</icon>
                        <action>TccListCoordenador</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Monitor'>
        <icon>fas:qrcode fa-fw</icon>
        <menu>
            <menuitem label='Scanner QR Code'>
                <icon>fas:camera fa-fw</icon>
                <action>ScannerPage</action>
            </menuitem>
            <menuitem label='Monitoria de Eventos'>
                <icon>fas:tasks fa-fw</icon>
                <action>EventoMonitorList</action>
            </menuitem>
            <menuitem>
                <icon>fas:chart-bar fa-fw</icon>
                <action>RelatorioEventoMonitor</action>
            </menuitem>      
        </menu>
    </menuitem>

    <menuitem label='Gerente'>
        <icon>fas:cog fa-fw</icon>
        <Access></Access>
        <menu>
            <menuitem label='Eventos'>
                <icon>fas:calendar-check fa-fw</icon>
                <action>EventoList</action>
            </menuitem>
            <menuitem>
                <icon>fas:file-alt fa-fw</icon>
                <action>RelatorioEvento</action>
            </menuitem>
            <menuitem>
                <icon>fas:calendar-plus fa-fw</icon>
                <action>EventoForm</action>
            </menuitem>
            <menuitem label='Certificados'>
                <icon>fas:award fa-fw</icon>
                <action>CertificadoList</action>
            </menuitem>
            <menuitem>
                <icon>fas:file-signature fa-fw</icon>
                <action>CertificadoForm</action>
            </menuitem>
            <menuitem label='Inscrições'>
                <icon>fas:users fa-fw</icon>
                <action>InscricaoList</action>
            </menuitem>
            <menuitem>
                <icon>fas:user-plus fa-fw</icon>
                <action>InscricaoForm</action>
            </menuitem>
            <menuitem label='Pagamentos'>
                <icon>fas:file-invoice-dollar fa-fw</icon>
                <action>PagamentoList</action>
            </menuitem>
            <menuitem>
                <icon>fas:funnel-dollar fa-fw</icon>
                <action>PagamentoForm</action>
            </menuitem>
            <menuitem label='Registros'>
                <icon>fas:history fa-fw</icon>
                <action>RegistroList</action>
            </menuitem>
            <menuitem>
                <icon>fas:edit fa-fw</icon>
                <action>RegistroForm</action>
            </menuitem>
            <menuitem label='TCC'>
                <icon>fas:graduation-cap fa-fw</icon>
                <action>TccList</action>
            </menuitem>
            <menuitem>
                <icon>fas:book fa-fw</icon>
                <action>TccForm</action>
            </menuitem>
            <menuitem label='Aprovar Solicitações de Eventos'>
                <icon>fas:check-double fa-fw</icon>
                <action>AprovacaoList</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='_t{Administration}'>
        <icon>fas:sliders fa-fw</icon>
        <menu>
              <menuitem label='Dashboard'>
                  <icon>fas:tachometer-alt fa-fw</icon>
                  <action>SystemAdministrationDashboard</action>
              </menuitem>
              <menuitem label='_t{Programs}'>
                  <icon>far:file-code fa-fw</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='_t{Groups}'>
                  <icon>fas:users fa-fw</icon>
                  <action>SystemGroupList</action>
              </menuitem>
              <menuitem label='_t{Units}'>
                  <icon>fas:university fa-fw</icon>
                  <action>SystemUnitList</action>
              </menuitem>
              <menuitem label='_t{Roles}'>
                  <icon>fas:user-tag fa-fw</icon>
                  <action>SystemRoleList</action>
              </menuitem>
              <menuitem label='_t{Users}'>
                  <icon>fas:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
              <menuitem label='_t{Page management}'>
                    <icon>fab:wikipedia-w fa-fw</icon>
                    <action>SystemWikiList</action>
              </menuitem>
              <menuitem label='_t{News management}'>
                    <icon>fas:pen-square fa-fw</icon>
                    <action>SystemPostList</action>
              </menuitem>
              <menuitem label='_t{Schedules}'>
                  <icon>fas:clock fa-fw</icon>
                  <action>SystemScheduleList#method=onReload</action>
              </menuitem>
              <menuitem label='_t{Preferences}'>
                  <icon>fas:cog fa-fw</icon>
                  <action>SystemPreferenceForm#method=onEdit</action>
              </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Logs'>
        <icon>fas:desktop fa-fw</icon>
        <menu>
              <menuitem label='Dashboard'>
                  <icon>fas:tachometer-alt fa-fw</icon>
                  <action>SystemLogDashboard</action>
              </menuitem>
              <menuitem label='_t{Access Log}'>
                  <icon>fas:key fa-fw</icon>
                  <action>SystemAccessLogList</action>
              </menuitem>
              <menuitem label='_t{Change Log}'>
                  <icon>fas:film fa-fw</icon>
                  <action>SystemChangeLogView</action>
              </menuitem>
              <menuitem label='_t{SQL Log}'>
                  <icon>fas:database fa-fw</icon>
                  <action>SystemSqlLogList</action>
              </menuitem>
              <menuitem label='_t{Request Log}'>
                  <icon>fas:globe fa-fw</icon>
                  <action>SystemRequestLogList</action>
              </menuitem>
              <menuitem label='_t{Schedules}'>
                  <icon>fas:clock fa-fw</icon>
                  <action>SystemScheduleLogList</action>
              </menuitem>
              <menuitem label='_t{PHP Log}'>
                  <icon>fas:exclamation-triangle fa-fw</icon>
                  <action>SystemPHPErrorLogView</action>
              </menuitem>
              <menuitem label='Session vars'>
                  <icon>fas:code fa-fw</icon>
                  <action>SystemSessionVarsView</action>
              </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Logout'>
        <action>LoginForm#method=onLogout#static=1</action>
        <icon>fas:sign-out-alt fa-fw</icon>
    </menuitem>
</menu>
